@model SalonHappiness.Models.Opentime

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Slet</h2>

<h3>Er du sikker på, at du vil slette dette?</h3>
<div>
    <h4>Åbningstider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Open)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Open)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Closed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Closed)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Slet" class="btn btn-danger" /> | @Html.ActionLink("Tilbage", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>
