@model SalonHappiness.Models.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Detaljer</h2>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivelDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivelDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivelTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivelTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Redigere", "Edit", new { id = Model.BookingId }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Tilbage", "Index", null, new { @class = "btn btn-primary" })
</p>
