@model IEnumerable<SalonHappiness.Models.FrontPage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Forside</h2>
@if (Model.Count() == 0)
{
    <p>
        @Html.ActionLink("Opret Ny Forside", "Create", null, new { @class = "btn btn-success" })
    </p>
}
<table class="table">
    <tr>
        <th>Billede</th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.FrontPageFiles.Any(f => f.FileType == SalonHappiness.Models.FileType.Avatar))
                {
                    <img src="~/FrontPageFile?id=@item.FrontPageFiles.First(f => f.FileType == SalonHappiness.Models.FileType.Avatar).FrontPageFileId" alt="avatar" width="75" height="85" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td style="width:250px">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Redigere", "Edit", new { id = item.FrontPageId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detaljer", "Details", new { id = item.FrontPageId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Slet ", "Delete", new { id = item.FrontPageId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
